* {
  margin: 0%;
  padding: 0%;
}

#cir-whiteboard {
  width: 80px;
  height: 80px;
  background-color: red;
  border: solid black 1px;
  border-radius: 50%;
  position: absolute;

}

#top-whiteboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-whiteboard {
  margin: 1px;
  padding: 5px;
}

#main-whiteboard {
  width: 100%;
  height: 520px;
  border: solid black 1px;
}
